<h1>Liste des films disponibles</h1>
<h2>Les films récents possèdent un fond bleu.</h2>
<div class="header-buttons">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="big-button">Retourner l'écran d'accueil</a>
    <a (click)="showAddForm = true" class="big-button">Ajouter un film</a>
</div>
<table>
    <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 5%;">Couverture</th>
        <th style="width: 20%;">Titre</th>
        <th style="width: 20%;">Réalisateur</th>
        <th style="width: 10%;">Année</th>
        <th style="width: 30%;">Synopsis</th>
        <th style="width: 10%;">Actions</th>
    </tr>
    @for (movie of movies; track movie.id) {
        <tr [class.blue]="movie.year >= 2000">
            <td>{{movie.id}}</td>
            <td><img src="{{movie.cover}}" alt=""></td>
            <td>{{movie.name}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.synopsis}}</td>
            <td>
                <button class="action_button" (click)="selectMovie(movie)">Modifier</button>
                <button class="action_button" (click)="deleteMovie(movie)">Supprimer</button>
            </td>
        </tr>
    }
</table>
@if(showAddForm) {
    <app-movie-form (createEmitter)="addMovie($event)" (cancelEmitter)="closeForm()" />
} @else if(selectedMovie) {
    <app-movie-form (createEmitter)="addMovie($event)" (editEmitter)="editMovie($event)" (cancelEmitter)="closeForm()" [selectedMovie]="selectedMovie" />
}

<div class="logout">
    <a (click)="logout()">Se déconnecter</a>
</div>
